body {
   background-image:url(https://1.bp.blogspot.com/-pZjol2_tzgQ/Vpj5ANclrDI/AAAAAAAAAh0/auJCiJOgSSU/s1600/33.jpg);
   background-repeat: no-repeat;
}
.vuguu {
    color: cornsilk;
}
.jumbotron {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: blue;
}
.vuguu p {
    text-align: center;
}
h2 {
    text-align: center;
}
.submit button:hover {
    color: darkblue;
}
/* .submit button {
    color: darkred;
} */
/* .submit button:hover {
    color: darkslategrey;
} */
.container {
    padding-top: -300px;
}