body {
   background-color: lightcoral;
}
.jumbotron {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}
.jumbotron img {
    background-size: 100px;
}
.vuguu p {
    text-align: center;
}
h2 {
    text-align: center;
}
.submit button {
    color: darkred;
}
.submit button:hover {
    color: darkslategrey;
}